.blogContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blogList {
    height: 521px;
    border: 1px solid #E7E7E7;
    border-radius: 62px;
    padding: 21px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-paper);

    &:hover {
        background-color: var(--bg-hover);
        .arrow {
            filter: invert(1);
        }
    }

    >img {
        width: 340px;
        height: 290px;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        object-fit: cover;
    }

    >h2 {
        font-size: 25px;
        width: 305px;
        @include body-font;
    }

    >div {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        margin-bottom: 20px;
        @include body-font;
    }
}

.LatestBlogPost {
    display: flex;
    gap: 65px;
    justify-content: space-around;
    border: 1px solid #E7E7E7;
    border-radius: 62px;
    padding: 21px;
    cursor: pointer;
    background-color: var(--bg-paper);

     &:hover {
        background-color: var(--bg-hover);
        .arrow {
            filter: invert(1);
        }
    }

    >img {
        width: 569px;
        height: 478px;
        border-radius: 50px;
        object-fit: cover;
    }

    >div {
        width: 469px;
        display: flex;
        flex-direction: column;

        >h2 {
            font-size: 25px;
            @include heading-font;
        }

        >p {
            @include body-font;
            font-size: 22px;
        }

        >div {
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;
            margin-bottom: 20px;
            @include body-font;
        }
    }
}

.actionButton {
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
    height: 20px;
    display: flex;
    justify-self: center;
    margin-top: 10px;
    height: 30px;
    font-size: 20px;
    @include heading-font;
    justify-content: center;
    cursor: pointer;
    color: #FFF;
}
