DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_database_name
DB_USER=your_username
DB_PASSWORD=your_password

ALLOWED_ORIGINS=https://frontend.com,https://admin.frontend.com

ENABLE_SWAGGER=true

FORCE_HTTPS=false

ASPNETCORE_ENVIRONMENT=Development