DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_database_name
DB_USER=your_username
DB_PASSWORD=your_password

JWT_SECRET=your_jwt_secret
JWT_ISSUER=your_issuer
JWT_AUDIENCE=your_audience

ADMIN_EMAIL=your_email
ADMIN_PASSWORD=your_password
ADMIN_USERNAME=your_username

ALLOWED_ORIGINS=https://frontend.com,https://admin.frontend.com

ENABLE_SWAGGER=true

FORCE_HTTPS=false

ASPNETCORE_ENVIRONMENT=Development

CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_secret