@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  width: 100%;
}

h1 {
  margin: 0;
}

main {
  padding-top: 80px;
  overflow-wrap: break-word;
}

.title{
  font-size: 50px;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  color: #292F36
}
