.getStarted {
    height: 750px;
    background-image: url('../../assets/images/GetStarted.png');
    border-radius: 70px;
    background-position: center;
    div {
        padding: 208px 715px 301px 52px;

        h2{
            font-size: 65px;
            line-height: 125%;
            @include heading-font(#292F36);
        }

        p {
            font-size: 22px;
            line-height: 150%;
            @include body-font(#4D5053);
        }
    }
}