.post {
    display: flex;
    justify-content: space-between;
}

.postContent {
    width: 800px;

    img {
        width: 800px;
        height: 540px;
        border-radius: 50px;
        object-fit: cover;
    }

    .postDate {
        display: flex;
        justify-content: space-between;

        small {
            font-size: 16px;
            line-height: 150%;
            @include body-font;
        }
    }

    p {
        font-size: 22px;
        line-height: 150%;
        @include body-font;
    }
}

.sideBar {
    width: 345px;
    display: flex;
    flex-direction: column;
    gap: 50px;  

    .search {
        position: relative;
        background-color: var(--bg-surface);
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        padding: 33px;

        input {
            border: none;
            background-color: var(--bg-surface);
            outline: none !important;
            width: 230px;
            font-size: 22px;
            line-height: 150%;
            @include body-font;
        }

        input::placeholder {
            color: #CDA274;
        }
    }

    .filters {
        background-color: var(--bg-surface);
        padding: 33px;
        border-radius: 20px;
        @include heading-font;

        p {
            font-size: 22px;
            line-height: 150%;
            @include body-font;
        }

    }
}

.dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid var(--text-primary);
    background: var(--bg-paper);
}

.item {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.item:hover {
    background: var(--bg-hover);
}