.project {
    width: 1200px;
    margin: 0 auto;
}

.tagsContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.tags {
    display: inline-block;
    border-radius: 18px;
    border: 1px solid #CDA274;

    .button {
        padding: 26px 33px;
        border-radius: 18px;
        background-color: #FFF;
        border: none;
        font-weight: 600;
        font-size: 18px;
        font-family: "Jost", sans-serif;
    }

    .active {
        border: 1px solid #CDA274;
        background-color: #CDA274;
        color: white;
    }

}
