.tagsContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.tags {
    display: inline-block;
    border-radius: 18px;
    border: 1px solid #CDA274;

    .button {
        padding: 26px 33px;
        border-radius: 18px;
        background-color: var(--bg-default);
        border: none;
        font-size: 18px;
        @include heading-font
    }

    .active {
        border: 1px solid #CDA274;
        background-color: #CDA274;
        color: white;
    }

}
